/**Body**/
body {
  font-size: 16px;
  color: #fff;
  background-color: #396C2F;
  font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
  padding-left: 0;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.container{
  width: 90%;
}
.category-tile h3 {
  color:#264820;
  font-weight:bold;
}
#menu-categories-title{
  color: #fff;
  margin-bottom: 30px;
}
.category-tile{
  background-color: #A3C664;
  color:#000;
  padding-top:5px;
}
.category-tile p{
  padding:20px;
  height:1000px;
}
.navbar-default .navbar-nav>li>a { 
  text-align: center;
  border-bottom: 1px solid #396C2F;
}